:root{
    /* espaçamentos */
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 24px;
    --space-4: 32px;
    --space-5: 48px;
    --space-6: 64px;
    /* paleta de cores */
    --color-1: #011f4b;
    --color-2: #03396c;
    --color-3: #005b96;
    --color-4: #6497b1;
    --color-5: #b3cde0;
    --color-6: #d1e4f5;
    --color-7: #d9e6f3;
    --color-8: #e4edf5;
}  

section{
    margin-block-start: 8%;
    margin-inline: 0.5%;
}
.conteiner{
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}
.curso{
    background-color: var(--color-8);
    width: 230px;
    height: 600px;
    border-radius: var(--space-1);
    border: 2px solid var(--color-4);
    box-shadow: 0px 4px 5px black;
    transition: all 0.1s ease;
}
.curso:hover{
    box-shadow: 0px 4px 10px black;
    transform: translateY(-10px);
    cursor: default;
}
.curso img{
    width: 200px;
    height: 200px;
    background-color:white;
    display: block;
    margin: 0 auto;
    border-radius: var(--space-1) ;
    padding: var(--space-2);
}
.curso p{
    margin: var(--space-2) ;
}
.curso h2{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-block: var(--space-2);
}
@media ((max-width:720px)) {
    .conteiner{
        flex-direction: column;
        flex-flow: column;
    }
    .curso{
        width: auto;
        margin-inline: 10vh;
    }
}
@media ((max-width:2080px)) {
    .conteiner{
        gap: 0px;
        
    }
    .curso{
        border: none;
        box-shadow: none;
    }
}
@media ((max-width:1875px)) {
    .conteiner{
        gap: 30px;
        
    }
    .curso{
         border: 2px solid var(--color-4);
    }
}
/* animacao para quando apertar na navbar */

.selecionado {
  animation: animacaoforcursonav 2s ease ;
}

@keyframes animacaoforcursonav {
  50% {
    transform: translateY(-35px) ;
  }
}
